/* ***************   DEFAULTS   *************** */

html {}

body {
    background-color: #F7DC6F;
    background: linear-gradient(to right, #F7DC6F, #F1C40F);
    font: 62.5%/1.5 "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    /* background: url(/images/wallpaper.png) repeat;  */
    font color: #424949;
    text-align: center;
}


/* ********* BEGIN NAV BAR ********* */

.navbar-custom {
    background-color: #4aaaa5;
}

#logo {
    /* Box-model */
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    /* Positioning */
    margin-left: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Typography */
    font-size: 30px;
    font-weight: lighter;
    color: #424949;
    /* Visual */
    background: #4aaaa5;
}

#logo:hover {
    /* Visual */
    opacity: 0.7;
}

.navbar-right-custom {
    /* Box-model */
    padding-top: 6px;
    padding-right: 20px;
    /* Typography */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #4aaaa5;
}

.navbar-format {
    color: #424949;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* Nav element hover state */

.navbar-default .navbar-nav>li>a:hover {
    color: #4aaaa5;
}


/* Media query for nav */

@media only screen and (max-width: 767px) {
    .navbar-header {
        background-color: #4aaaa5;
    }
    #logo {
        width: 100%;
        /* Box-model */
        height: 60px;
        padding-top: 20px;
        padding-bottom: 5px;
        /* Positioning */
        margin-left: 0;
        font-family: Georgia, Times, "Times New Roman", serif;
        /* Typography */
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        /* Visual */
        background: #4aaaa5;
    }
}


/* ********* END NAV BAR ********* */