/* Let bootstrap do as much as it can, keep css minimal, mostly colors and positioning,as well as media queries (toward completion of doc */


/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

body {
    line-height: 1;
}

body {
    background-color: #f8f9fa;
    background: linear-gradient(#f8f9fa, #ffffff);
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    /* background: url(/images/wallpaper.png) repeat;  */
    color: #424949;
    /* text-align: center; */
}

h1 {
    font-size: 80px;
}


/* 
h3 {
    font-size: 30px;
} */


/* Styling the header, giving it a height, a background color, and some top padding */

.header {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
}


/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */

.header h1 {
    padding: 60px;
    margin: 0;
    color: #000;
    text-align: center;
}


/* Giving the .post element margin on 3 sides */

.post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

#nav-select {
    visibility: hidden;
    /* display: none; */
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}


/* **************        NAVBAR         ************** */


/* Giving our navbar some padding and a background color */

.navbar {
    padding: 10px;
    background: none;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}


/* Getting rid of the default link styles here */

.navbar-li-a {
    color: #000;
    text-decoration: none;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

#badge {
    font-size: x-large;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    font-weight: lighter;
    color: #424949;
    margin-left: 5%;
    background-color: transparent;
    height: 60px;
    text-align: center;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-bottom: 20px;
    padding-top: 20px; */
}


/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */

@media (max-width: 480px) {
    .navbar li {
        padding: 10px;
    }
    .post {
        margin-right: 30px;
        margin-left: 30px;
    }
    .navbar ul {
        visibility: hidden;
    }
    #nav-select {
        visibility: visible;
    }
}


/* ******           BANNER - CRUELLA            *********** */

#banner-cruella {
    padding: 12em 0 10em 0;
    background-image: url('../img/CruellaBanner.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    /* border-top: 0.5em solid #5385c1; */
}

#banner-cruella h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: #1B2631;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner-cruella p {
    font-size: 1em;
    color: #1B2631;
    /* color: rgba(255, 255, 255, 0.55); */
    margin-bottom: 1.75em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #banner-cruella {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1280px) {
    #banner-cruella {
        padding: 10em 2em 8em 2em;
    }
}

@media screen and (max-width: 980px) {
    #banner-cruella {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {
    #banner-cruella {
        padding: 8em 1.5em 6em 1.5em;
    }
    #banner-cruella h1 {
        font-size: 2.5em;
    }
    #banner-cruella p {
        font-size: .9em;
    }
}

@media screen and (max-width: 480px) {
    #banner-cruella {
        padding: 6em 1.5em 4em 1.5em;
    }
}


/* * ******         BANNER - DOROTHY        ***********  */

#banner-dorothy {
    padding: 12em 0 10em 0;
    background-image: url('../img/DorothyBanner.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    /* border-top: 0.5em solid #5385c1; */
}

#banner-dorothy h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: #1B2631;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner-dorothy p {
    font-size: 1em;
    color: #1B2631;
    /* color: rgba(255, 255, 255, 0.55); */
    margin-bottom: 1.75em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #banner-dorothy {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1280px) {
    #banner-dorothy {
        padding: 10em 2em 8em 2em;
    }
}

@media screen and (max-width: 980px) {
    #banner-dorothy {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {
    #banner-dorothy {
        padding: 8em 1.5em 6em 1.5em;
    }
    #banner-dorothy h1 {
        font-size: 2.5em;
    }
    #banner-dorothy p {
        font-size: .9em;
    }
}

@media screen and (max-width: 480px) {
    #banner-dorothy {
        padding: 6em 1.5em 4em 1.5em;
    }
}


/* * ******             BANNER - SOFIA          ***********  */

#banner-sofia {
    padding: 12em 0 10em 0;
    background-image: url('../img/SofiaBanner.jpeg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    /* border-top: 0.5em solid #5385c1; */
}

#banner-sofia h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: #1B2631;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner-sofia p {
    font-size: 1em;
    color: #1B2631;
    /* color: rgba(255, 255, 255, 0.55); */
    margin-bottom: 1.75em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #banner-sofia {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1280px) {
    #banner-sofia {
        padding: 10em 2em 8em 2em;
    }
}

@media screen and (max-width: 980px) {
    #banner-sofia {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {
    #banner-sofia {
        padding: 8em 1.5em 6em 1.5em;
    }
    #banner-sofia h1 {
        font-size: 2.5em;
    }
    #banner-sofia p {
        font-size: .9em;
    }
}

@media screen and (max-width: 480px) {
    #banner-sofia {
        padding: 6em 1.5em 4em 1.5em;
    }
}


/* * ******            BANNER - ELLE       ***********  */

#banner-elle {
    padding: 12em 0 10em 0;
    background-image: url('../img/ElleBanner.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    /* border-top: 0.5em solid #5385c1; */
}

#banner-elle h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: #1B2631;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner-elle p {
    font-size: 1em;
    color: #1B2631;
    /* color: rgba(255, 255, 255, 0.55); */
    margin-bottom: 1.75em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #banner-elle {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1280px) {
    #banner-elle {
        padding: 10em 2em 8em 2em;
    }
}

@media screen and (max-width: 980px) {
    #banner-elle {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {
    #banner-elle {
        padding: 8em 1.5em 6em 1.5em;
    }
    #banner-elle h1 {
        font-size: 2.5em;
    }
    #banner-elle p {
        font-size: .9em;
    }
}

@media screen and (max-width: 480px) {
    #banner-elle {
        padding: 6em 1.5em 4em 1.5em;
    }
}


/* **************        MAIN CONTENT           **************  */


/* primarily colors and positioning */

.main-container {
    padding-top: auto;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.main-header {
    text-align: center;
    font-size: xx-large;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    font-weight: lighter;
    color: #424949;
}

.main-image-featured {
    max-width: 100%;
    height: auto;
    float: center;
}

.main-image-grid {
    max-width: 100%;
    height: auto;
}

.main-image-wrap {
    max-width: 75%;
    height: auto;
    /* padding-bottom: 5px; */
    float: right;
    /* display: block; */
    margin: 10px;
}

#nerdydog {
    height: 200%;
    width: 200%;
}

.client-image-container {
    width: 30%;
    height: 20px;
    margin: 0 auto;
}

.alert-text {
    font-family: 'Courier New', Courier, monospace;
    color: #922B21;
    font-weight: bold;
    font-size: medium;
    display: block;
    line-height: 30px;
}

.main-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    /* margin-right: 1%; */
}

.main-sub-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dimgrey;
}

.main-p {
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    font-size: 15pt;
    display: block;
    /* line-height: 30px; */
    color: #424949;
    font-weight: 300;
    line-height: 1;
}

#index-text-box {
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    font-size: 18pt;
    display: block;
    /* line-height: 30px; */
    color: #424949;
    font-weight: 300;
    line-height: 1.25;
}

#main-column {
    width: 800px;
}

.dl-p {
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    font-size: 15pt;
    display: block;
    /* line-height: 30px; */
    color: #424949;
    font-weight: 300;
    line-height: .5;
}


/* **************          ABOUT US     ************** */

section.special,
article.special {
    text-align: center;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.special article,
article.special article {
    text-align: left;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.wrapper,
article.wrapper {
    padding: 6em 0;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.wrapper header,
article.wrapper header {
    margin-bottom: 4em;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.wrapper header h2,
article.wrapper header h2 {
    font-size: 2.75em;
    margin: 0 0 .5em 0;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.wrapper header p,
article.wrapper header p {
    font-size: 1em;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.wrapper article header,
article.wrapper article header {
    margin: 0;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.wrapper.style1,
article.wrapper.style1 {
    /* background: linear-gradient(#f8f9fa, #5385c1);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    color: #bacee6;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
    height: max-content;
}

section.wrapper.style1 header h2,
article.wrapper.style1 header h2 {
    color: #5385c1;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

#backup-plan {
    background: linear-gradient(#f8f9fa, #5385c1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.wrapper.style1 header p,
article.wrapper.style1 header p {
    color: #bacee6;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

section.wrapper.style1 h3,
article.wrapper.style1 h3 {
    color: #FFF;
    font-family: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

@media screen and (max-width: 980px) {
    section.wrapper,
    article.wrapper {
        padding: 2em 0;
    }
}

@media screen and (max-width: 736px) {
    section.wrapper header,
    article.wrapper header {
        margin-bottom: 2em;
    }
    section.wrapper header h2,
    article.wrapper header h2 {
        font-size: 2em;
    }
    section.wrapper header p,
    article.wrapper header p {
        font-size: .9em;
    }
}

@media screen and (max-width: 480px) {
    section.wrapper,
    article.wrapper {
        text-align: center;
    }
    section.wrapper article,
    article.wrapper article {
        text-align: center;
    }
}

header p {
    color: #bbb;
    position: relative;
    margin: 0 0 1.5em 0;
    font: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

header h2+p {
    font-size: 1.25em;
    margin-top: -1em;
    font: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

header h3+p {
    font-size: 1.1em;
    margin-top: -0.8em;
    font: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

header h4+p,
header h5+p,
header h6+p {
    font-size: 0.9em;
    margin-top: -0.6em;
    font: "Gill Sans", "Lucida Sans", Tahoma, Verdana, sans-serif;
}


/* Flex */

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.flex.flex-2 article {
    width: 47%;
}

.flex.flex-3 article {
    position: relative;
    width: 28%;
}

.flex.flex-3 article:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: -2em;
    top: 0;
    border-right: 1px solid #dbdbdb;
    pointer-events: none;
}

.flex.flex-3 article:last-child:before {
    border: none;
}

.flex.flex-4 .box {
    width: 21%;
}

@media screen and (max-width: 980px) {
    .flex.flex-2 article {
        width: 100%;
        margin-bottom: 3em;
    }
    .flex.flex-2 article:last-child {
        margin-bottom: 0;
    }
    .flex.flex-3 {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex.flex-3 article {
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 2.5em;
        margin-bottom: 3em;
    }
    .flex.flex-3 article:last-child {
        border: none;
        padding-bottom: 0;
        margin: 0 0 1em 0;
    }
    .flex.flex-3 article:before {
        display: none;
    }
    .flex.flex-4 .box {
        width: 47%;
    }
}

@media screen and (max-width: 480px) {
    .flex.flex-4 .box {
        width: 100%;
    }
}


/* Box */

.box {
    border: solid 1px #dbdbdb;
    margin-bottom: 2em;
    padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.box.person {
    border: solid 1px rgba(255, 255, 255, 0.25);
    padding: 3em 1.5em;
}

.box.person h3 {
    margin: 0;
}

.box.person .image {
    margin-bottom: 1em;
}

.box.person .image img {
    max-width: 100%;
}


/* Image */

.image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0;
    display: block;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.round img {
    border-radius: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}


/* SOCIAL MEDIA */

.social-icon {
    width: 33px;
    height: 33px;
}


/* Footer */

#footer .inner {
    border-top: 1px solid #dbdbdb;
    padding-top: 3em;
}

#footer .copyright {
    color: #bbb;
    font-size: 0.8em;
    margin: 5 5 5em 5;
    padding: 0;
}

#footer .copyright a {
    color: white;
    text-decoration: none;
}

#footer .copyright a:hover {
    color: white;
    text-decoration: underline;
}

#footer ul.icons li .icon {
    font-size: 0.58em;
}

@media screen and (max-width: 736px) {
    #footer .inner {
        padding-top: 2em;
        padding-bottom: 10px;
    }
    #footer .copyright {
        padding-bottom: 10px;
    }
    #footer ul {
        -ms-flex-order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -ms-order: 1;
        order: 1;
    }
    #footer .flex {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}